

<html>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        margin: 0;
    }
</style>
<head>
    
</head>

<body>
    
<form action = "{% url 'register' %}" method = "POST">{% csrf_token%}
    <input type = "text" placeholder="Username..." name = "username">
    <br>
    <input type = "email" placeholder="Email..." name = "email">
    <br>
    <input type = "password" placeholder="Password..." name = "password">
    <br>
        <p><a href="{% url 'login' %}">Sign In</a>.</p>

    <input type="submit" name = "Register" value="Register">
    <br>
</form>

</body>

</html>